<p>${data.name}</p>
<div>The current count is ${state.count}</div>
<div>The nested count is ${state.nest.count}</div>
<button on-click('increment')>Click me!</button>
<include("./includes/greeting.marko", {name: 'edmond'})/>