import Layout from "../../layouts/default/index.marko"

<${Layout}>
    <@scripts>
        <script src="/static/bundle.js"></script>
    </@scripts>
    <@title>
        Marko UI SSR Demo
    </@title>
    <@body>
        <app/>
        <await(data.promise) timeout=400000>
            <@then|result|>
                Await result: ${result}
            </@then>
        </await>
    </@body>
</>